.div.container
  %h1 List of Users

  %table.table.table-dark
    %thead
      %tr
        %th Name
        %th
        %th

    %tbody
      - @users.each do |user|
        %tr
          %td= user.name
          %td= link_to 'Show', user, class: 'btn btn-primary'
          %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'

  %br

  = link_to 'New User', new_user_path, class: 'btn btn-primary'
